
:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --blue-color: #0d6efd;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--green-color);
}
.main-btn {
    background-color: var(--blue-color);
    color: white;
    padding: 0.5rem 1rem;
    /* font-weight: bold; */
}
.main-btn:hover {
    color: var(--dark-color);
    background-color: var(--green-color);
    border-color: var(--green-color);

}
.main-title::after {
    content: '';
    width: 120px;
    height: 3px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.main-title svg {
    color: var(--yellow-color);
    font-size: 60px;
}
/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}
.navbar .search {
    border-left: 1px solid var(--green-color);
}
.navbar .search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}
/* End Navbar */
/* Start Landing */
.landing {
    background-image: url(../imgs/landing.png);
    background-size: cover;
    min-height: calc( 100vh - 72px );
}
.landing .text-center h1, 
.landing .text-center p{
    background: -webkit-linear-gradient(#97c1ff, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing .text-center h1 {
    position: relative;
    font-size: 60px;
    word-spacing: 3px;
}
.landing .text-center p {
    font-weight: bold;
    font-size: 20px;
}
@media (max-width: 767px) {
    .landing .text-center h1 {
        font-size: 30px;
    }
    .landing .text-center p {
        font-size: 15px;
    }
}
@media (max-width: 300px) {
    .landing .text-center h1 {
        font-size: 25px;
    }
    .landing .text-center p {
        font-size: 12px;
    }
}
.landing .btn {
    letter-spacing: 1px;
}
/* End Landing */
/* Start Features */
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon {
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}
/* End Features */
/* Start Our Work */
.our-work {
    background-color: var(--section-color);
}
.our-work ul .active {
    background-color: var(--blue-color);
    color: white;
}
.our-work ul .active:hover {
    background-color: var(--green-color);
    color: var(--dark-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
@media (max-width: 300px) {
    .our-work ul li {
        padding: 3px 6px;
        cursor: pointer;
    }
}
.our-work ul li:not(.active):hover {
    color: var(--blue-color);
}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: var(--green-color);
    opacity: 80%;
    width: calc( 100% - 10px );
    height: calc( 100% - 10px );
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc( -100% - 5px ));
}
.our-work .box:hover::before {
    transform: translateX(0);    
}
/* End Our Work */
/* Start Stuff */
.stuff .description {
    max-width: 500px;
}
/* End Stuff */
/* Start Team */
.team {
    background-color: var(--section-color);
}
.team h2 {
    color: var(--blue-color);
}
.team .box h4 {
    background-color: var(--green-color);
}
/* End Team */
/* Start Project */
.project {
    background-color: var(--dark-color);
}
@media ( max-width: 767px ) {
    .project p {
        padding: 15px;
    }
}
/* End Project */
/* Start Subscibe */
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe ::placeholder {
    color: white;
}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: var(--yellow-color);
    margin-bottom: 45px;
}
/* End Subscibe */
/* Start Footer */
.footer {
    background-color: var(--dark-color);
}
.footer .copyright > span {
    color: var(--green-color);
}
.footer .copyright div span {
    color: var(--yellow-color);
}
.footer .contact ul svg {
    width: 20px;
    height: 20px;
}
@media ( max-width: 767px) {
    .footer .contact ul {
        justify-content: center;
    }
}
.footer .facebook {
    background-color: #1877f2;
}
.footer .twitter {
    background-color: #1da1f2;
}
.footer .linkedin {
    background-color: #0077b5;
}
.footer .youtube {
    background-color: #ff0000;
}
/* End Footer */